.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: $font-family;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: $border-radius;
  border: none;
  background-color: $color-main;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: $color-main;
  }
}
