.footer {
	margin-top: 0;

	@media (min-width: $screen-lg) {
	margin-top: 85px;		
	}

	&__logo {
		color: $color-main;
	}

	&__socials{
		flex-grow: 1;
	&__list {
		color: $color-black;
		display: flex;
		justify-content: flex-end;
	}

	&__item {
		text-transform: uppercase;
		margin-left: 15px;

		a {
			color: inherit;
		}
	}
}
}