.form {
	background-color: #faf5e4;
	border: 2px solid $color-black;
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h2,
	p {
		text-align: center;
		}
	
	p {
		margin-top: 0;
		padding-top: 0;
	}

	h2 {
		font-weight: bold;
	}

	&__btn {
		background-color: $color-black;
		color: $color-white;
		height: 70px;
		width: 100%;
		font-size: 20px;
		text-transform: uppercase;
		border: none;
	}

	input,
	select {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #000;
	}
}
