.gallery {
	color: $color-white;
	position: relative;
	padding-top: 50px;

	h2 {
		font-size: 30px;
		@media (min-width: $screen-lg) {
			font-size: 50px;
		}
	}

	p,
	h3 {
	padding: 0;
	margin: 0;
	padding-left: 10px;
		}

		p {
			padding-bottom: 10px;
		}

		&__title {

		&__title:before {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 75%;
		position: absolute;
		display: block;
		top: -3px;
		left: -10px;
	}

	&__title:after {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 75%;
		position: absolute;
		display: block;
		bottom: -5px;
		left: -10px;
	}

			@media (min-width: $screen-lg) {
			position: absolute;
			bottom: 0px;
			left: -50px;
			writing-mode: tb-rl;
			transform: rotate(180deg);
			}
			&:before {
		  content: "";
		  position: absolute;
		  display: block;
		  height: 525px;
		  width: 2px;
		  left: 30px;
		  background-color: $color-main;
		  padding-bottom: 40px;

		}

		&:after {
		  content: "";
		  position: absolute;
		  display: block;
		  height: 525px;
		  width: 2px;
		  left: 105px;
		  background-color: $color-main;
		  padding-top: 40px;
		}
	}



		&__item {
		display: flex;
	
		&--yang {
			background-image: url(../img/video_card_img_2.jpg);
			background-repeat: no-repeat;
			height: 169px;
		}
		
		&--calm {
			background-image: url(../img/video_card_img_3.jpg);
			background-repeat: no-repeat;
			height: 169px;
			margin-top: 32px;
		}

		&--trofimov {
			background-image: url(../img/video_card_img_4.jpg);	
			background-repeat: no-repeat;
			height: 169px;
			margin-top: 32px;
		}

		&--cherry {
			background-image: url(../img/video_card_img_1.jpg);
			background-repeat: no-repeat;
			height: 569px;
			margin-left: 100px;

		}
	}
	&--offset {
		margin-top: auto;
	}
}
