.genres {
	display: flex;
	color: $color-white;
	position: relative;
	padding-top: 50px;
	margin-bottom: 50px;

	h2 {
		font-size: 50px;
	}

	&__title {
		color: $color-black;

		@media (min-width: 1280px) {
			position: absolute;
			bottom: 30px;
			left: -50px;
			writing-mode: tb-rl;
			transform: rotate(180deg);

		}
	}

	&__title:before {
  content: "";
  position: absolute;
  display: block;
  height: 525px;
  width: 2px;
  left: -1px;
  background-color: $color-main;
  padding-bottom: 40px;

}

&__title:after {
  content: "";
  position: absolute;
  display: block;
  height: 525px;
  width: 2px;
  left: 58px;
  background-color: $color-main;
  padding-top: 40px;
}



	&__card-inner {

		&--offset {
			margin-left: 100px;
		}
	}

	&__card {
		height: 270px;
		margin-bottom: 30px;
		padding: 20px;

		&--guitar {
			background-image: url("../img/directions_card_guitar.jpg");
			background-repeat: no-repeat;

			p {
				width: 229px;
			}
		}

		&--vocal {
			background-image: url(../img/directions_card_vocal.jpg);
			background-repeat: no-repeat;
			
			p {
			width: 192px;
		}
		}

		&--fortepiano {
			background-image: url(../img/directions_card_fortepiano.jpg);
			background-repeat: no-repeat;

			p {
				width: 190px;
			}
		}

		&--lectures {
			background-image: url(../img/directions_card_lectures.jpg);
			background-repeat: no-repeat;

			p {
			width: 204px;
			}
		}

		&--all {
			background-color: $color-main;
		}
	}

	&__card-title {
		margin: 0;
	}
}

