// Сделаем viewport великим снова! (привет, IE10)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;

}

h1,
h2 {
  font-family: 'Prata';
  font-weight: 400;
  position: relative;
}

h2 {
  color: $color-black;
}

li,
a {
  text-decoration: none;
  list-style: none;
}