.main-nav {
	flex-grow: 1; 

	&__item {
		margin-left: 15px;
		color: $color-black;

		a {
			color: inherit;
			text-transform: uppercase;
		}
	}
 display: none;

	@media (min-width: $screen-lg) {
		display: block;
	}

	&__list {
		display: flex;
		justify-content: flex-end;
	}

}
