.page-map {
	margin-top: 33px;

	@media (min-width: $screen-lg) {
	margin-top: 90px;		
	}

	&__contact {
		margin-bottom: 15px;

		@media (min-width: $screen-lg){
		display: flex;
		margin-bottom: 45px;
		}

	h2 {
		font-size: 30px;
		margin: 0;

	@media (min-width: $screen-lg) {
		font-size: 50px;		
		}
	}
	}

	&__address {
		padding-top: 30px;
		@media (min-width: $screen-lg) {
		padding-top: 10px;
	}
	}


	&__title {
		width: 80%;
	}


	&__title:before {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 100%;
		position: absolute;
		display: block;
		top: -3px;
		left: -10px;
		@media (min-width: $screen-lg) {
			height: 2px;
		}
	}

	&__title:after {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 100%;
		position: absolute;
		display: block;
		bottom: -5px;
		left: -10px;
		@media (min-width: $screen-lg) {
			height: 2px;
		}
	}

	

.map {
	height: 470px;
	padding-left: 0;
}
.form {
	height: 570px;
	position: relative;
	background-color: $color-white;
	border: 2px solid $color-main;

	&__btn {
		background-color: $color-main;
	}

	input,
	select {
		border-bottom: 1px solid $color-main;
	}

	h2 {
		color: $color-main;
		font-size: 30px;
	}

	p {
		color: $color-black;
	}
}
.btn-mobail {
	margin-top: 15px;
}

}