.page-map {
	margin-top: 90px;
	position: relative;

	
	&__mapblock {
		display: flex;
	}

	h2 {
		font-size: 50px;
		margin: 0;
	}

	&__title:before {
		content: "";
		background-color: $color-main;
		height: 2px;
		width: 50%;
		position: absolute;
		display: block;
		top: -3px;
		left: -10px;
	}

	&__title:after {
		content: "";
		background-color: $color-main;
		height: 2px;
		width: 50%;
		position: absolute;
		display: block;
		bottom: -5px;
		left: -10px;
	}

	

.map {
	height: 470px;
}
.form {

	background-color: $color-white;
	border: 2px solid $color-main;

	&__btn {
		background-color: $color-main;
	}

	input,
	select {
		border-bottom: 1px solid $color-main;
	}

	h2 {
		color: $color-main;
	}

	p {
		color: $color-black;
	}
}
}