.promo {
	margin-top: 55px;

	h1 {
		font-size: 30px;
		@media (min-width: $screen-lg) {
			font-size: 50px;
		}

	}

	&--offset {
		padding-right: 30px;
		@media (min-width: $screen-lg) {
			padding-right: 220px;
		}
	}

	&__tatle {
		display: none;
		@media (min-width: $screen-lg) {
			display: block;			
		&--mobail {
			display: none;
		}

		}

	}

 @media (min-width: $screen-sm) {
 	width: 100%;

		h1 {
			margin: 0;
			margin-top: 0;
			margin-left: 30px;
			}

		p {			
			padding-left: 30px;
		}


		&__btn {
			width: 288px;
			height: 60px;
			background-color: $color-main;
			margin-left: 30px;
			padding: 18px;
			margin-bottom: 32px;
			
			a {
				text-align: center;
			}

			h2 {
				color: $color-white;
				margin: 0;
			}
		}

	}

	&__btn {
		@media (min-width: $screen-lg) {
			display: none;
		}
	}

	h1,
	&__text {
	color: $color-white;
	}

}