.temp {
	color: $color-white;
	position: relative;
	padding-left: 15px;

	h2 {
		font-size: 30px;
		margin-bottom: 30px;
		margin-top: 0;
		@media (min-width: $screen-lg) {
			font-size: 50px;
		}
	}

	&__title {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	&__card {

		&--fullscreen {
			display: none;
			@media (min-width: $screen-lg) {
				display: block;
			}
		}

		&--mobile {
			@media (min-width: $screen-lg)  {
				display: none;
			}
		}

		&--offset {
			margin-top: 0px;
			margin-bottom: 15px;
			@media (min-width: $screen-lg) {
			margin-top: 100px;
			margin-bottom: 0;
			}
		}
	}

	&__team {
		background-image: url(../img/advantages_card_team.jpg);
		background-repeat: no-repeat;
		margin-top: 60px;

		p {
			width: 215px;
		}
	}
	
	&__result {
		background-image: url(../img/advantages_card_result.jpg);
		background-repeat: no-repeat;
		margin-top: 20;
		p {
			width: 188px;
		}
	}

	&__studio {
		background-image: url(../img/advantages_card_studio.jpg);
		background-repeat: no-repeat;
		p {
			width: 233px;
		}
	}

	&__title:before {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 75%;
		position: absolute;
		display: block;
		top: -3px;
		left: -10px;
	}

	&__title:after {
		content: "";
		background-color: $color-main;
		height: 1px;
		width: 75%;
		position: absolute;
		display: block;
		bottom: -5px;
		left: -10px;
	}

	@media (min-width: $screen-lg) {
		&__title:before {
		content: "";
		background-color: $color-main;
		height: 2px;
		width: 48%;
		position: absolute;
		display: block;
		top: -3px;
		left: -10px;
	}

	&__title:after {
		content: "";
		background-color: $color-main;
		height: 2px;
		width: 48%;
		position: absolute;
		display: block;
		bottom: -5px;
		left: -10px;
	}
	}	

.form {
	background-color: $color-white;
	border: 2px solid $color-main;
	height: 567px;

	&__btn {
		background-color: $color-main;
	}

	input,
	select {
		border-bottom: 1px solid $color-main;
	}

	h2 {
		color: $color-main;
		font-size: 30px;

	}

	p {
		color: $color-black;
	}
}

}